<div class="row columns products">
  <h1>Identifique-se</h1>
  <%= render 'form_customer' %>
  <div class="columns medium-6 card end">
    <h3 class="text-center">Produtos</h3>
    <% total_price = 0 %>
    <% @products.each do |item| %>
      <div class="columns end">
        <div class="row">
          <div class="columns">
            <ul class="no-bullet inline-list row">
              <li class="medium-9 columns"><span><%= item.product_name %></span></li>
              <li class="medium-3 columns"><span>R$ <%= BRL item.price %></span></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <% total_price += item.price %>
    <% end %>
      <hr>
      <div class="columns end">
        <div class="row">
          <div class="columns">
            <ul class="no-bullet inline-list row">
              <li class="medium-9 columns"><span>Subtotal</span></li>
              <li class="medium-3 columns"><span>R$ <%= BRL total_price %></span></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="field">
        <label for="coupon"><strong>Cupom de desconto</strong></label>
        <%= text_field_tag :coupon %>
      </div>
  </div>
</div>
