<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) + ' | Test Moip' : 'Test Moip' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-left no-collapse">
          <ul class="dropdown menu" data-dropdown-menu="zj74q2-dropdown-menu" role="menubar">
            <li role="menuitem"><a href="#top-bars" class="dark" tabindex="0"></a></li>
            <li class="menu-text text-title" role="menuitem">Teste Moip</li>
          </ul>
        </div>
        <div class="top-bar-right no-collapse">
          <ul class="menu">
            <li><a class="text-subhead cart" href="#">Produtos(<span id="product-card">0</span>) no carrinho</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="row">
      <%= yield %>
    </div>
    <footer class="callout">
      <div class="text-center text-subhead">
        Isaac Yung Lopes
      </div>
    </footer>
  </body>
</html>
